.NewProductTitle {padding-left: 10px; 
    font-family: 'Lato Bold', 'Lato Regular', 'Lato', sans-serif;
    font-weight: 700;}
.NewProducts{background-color:white; 
             box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);    
             width: 1270px;
             left: 20px;
             position: relative;}
.NewProductImage {width:15%; padding-right:58px; }
.NewProductsLink {text-decoration:none;}
.Tomahawk{padding-bottom: 30px;}
.Arrows {padding-top:20px; font-size:36px; color:gray}
.ArrowLeft{float:left; padding-left:20px}
.ArrowRight{padding-left: 1241px}

.CPUGPUMotherboard {padding-top:40px;
                   font-family: 'Arial Bold', 'Arial', sans-serif;
                   font-weight: 700;
                   font-size: 22px;}
.Cpu{position:relative;
     float:left;
     left:25px;
     background-color:#F59A23; 
     padding: 9px;
     border-radius: 25px;
     padding-left: 30px;
     padding-right: 30px;
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);}
.Gpu{position:relative;
     float:left;
     left:35px; 
     background-color:#F59A23; 
     padding: 9px;
     border-radius: 25px;
     padding-left: 30px;
     padding-right: 30px;
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);}
.Mobo {float:left;
       position:relative; 
       left:45px; 
       background-color:#F59A23;
       padding: 9px;
       border-radius: 25px;
       padding-left: 30px;
       padding-right: 30px;
       box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);}
.Help{padding:21px;}

.Ryzen {background-color: white; 
        padding:69px; 
        padding-bottom: 0px; 
        border-radius: 20px; 
        position: relative; 
        left:6px;
        width: 1147px; 
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137)}
.RyzenImage {float: left;
             position: relative;
            bottom: 51px;
            right: 50px;}
.ImageWidth {width:209px}
.RyzenTitle {position: relative;
             bottom: 45px;
             font-family: 'Arial Bold', 'Arial', sans-serif;
             font-weight: 700;
             font-size: 24px;}
.RyzenInfo {position: relative; bottom:36px;font-size: 20px;}
.OutOfStock {font-family: "Arial Bold", Arial, sans-serif;
             font-weight: 700;
             color: rgb(163, 0, 20);
             font-size: 24px;}
.RyzenPrice{position:relative;
            font-family: "Arial Bold", Arial, sans-serif;
            font-weight: 700;
            font-size: 35px;
            color: rgb(184, 116, 26);
            left: 777px;
            bottom: 115px;}
.RyzenCart{position: relative;
          font-family: "Arial Bold", Arial, sans-serif;
          font-weight: 700;
          font-size: 32px;
          color: rgb(215, 215, 215);
          left: 707px;
           bottom: 65px;}
.InStock{font-family: "Arial Bold", Arial, sans-serif;
         font-weight: 700;
         color: #70B603;
         font-size: 24px;}
.InStockCart {color:black;}
.RyzenLink {text-decoration:none; color:inherit;}