Body {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
#UndHead {
    font-size: 20;
    font-weight: 700;
    border-bottom: 1px solid;
    width: 1300px;
    padding-bottom: 8px;
    padding-top: 15px;
    background-color: transparent;
    border-color: rgba(121, 121, 121, 1);
}
img {
    width: 195px;
    height: 195px;
    border-radius: 10px;
}
.Productbox {
    position: relative;
    top: 20px;
    width: 978px;
    height: 199px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.Productbox1 {
    position: relative;
    top: 35px;
    width: 978px;
    height: 199px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.Name {
    position: absolute;
    top: 5px;
    Left: 200px;
    font-weight: 700;
    font-size: 18px;
    width: 610px;
}
.info {
    position: absolute;
    top: 30px;
    Left: 200px;
    font-weight: 400;
    font-size: 13px;
    color: #AAAAAA; 
}
.Remove {
    position: absolute;
    bottom: 5px;
    left: 200px;
    width: 300px;
    height: 25px;
    font-weight: 400;
    font-size: 13px;
    color: #D9001B;
}
.Price
{
    position: absolute;
    top: 30px;
    right: 100px;
    width: 120px;
    height: 54px;
    font-weight: 400;
    font-size: 20px;
    color: #F59A23;
}
Select {
    position: absolute;
    top: 30px;
    right: 100px;
    width: 46px;
    height: 29px;
}
.CartBox {
    position: relative;
    top: -378px;
    left: 1000px;
    width: 308px;
    height: 411px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.UrCart {
    position: absolute;
    left: 10px;
    top: 12px;
    width: 288px;
    height: 25px;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid;
    border-color: rgba(121, 121, 121, 1);
}
.Product {
    position: absolute;
    left: 10px;
    top: 52px;
    width: 180px;
    height: 25px;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid;
    border-color: rgba(121, 121, 121, 1);
}
.Product1 {
    position: absolute;
    left: 10px;
    top: 92px;
    width: 180px;
    height: 25px;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid;
    border-color: rgba(121, 121, 121, 1);
}
.CartPrice {
    position: absolute;
    right: 0px;
    top: 60px;
    width: 77px;
    height: 25px;
    font-weight: 400;
    font-size: 13px;
}
.CartPrice1 {
    position: absolute;
    right: 0px;
    top: 100px;
    width: 77px;
    height: 25px;
    font-weight: 400;
    font-size: 13px;
}
.TotalPrice {
    position: absolute;
    left: 10px;
    Bottom: 80px;
    width: 288px;
    height: 25px;
    font-weight: 400;
    font-size: 20px;
    color: #F59A23;
    border-top: 1px solid;
    border-color: rgba(121, 121, 121, 1);
}
.BuyButton {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 288px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color:  #F59A23;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}
