.ProductName {font-family: 'Lato Bold', 'Lato Regular', 'Lato', sans-serif; 
    font-weight: 700; 
    font-size: 20px;
    padding-left: 134px;}
    .ProductPicture {padding-left: 136px;
                     padding-top: 3px;
                     float:left;
                     overflow:hidden;}
    .PictureWidth{width:470px;}
    .ProductPriceNstuff {font-family: "Lato Italic", "Lato Regular", Lato, sans-serif;
   font-weight: 400;
   font-size: 26px;
   padding-top: 2px;
   padding-left: 711px;}

   .Price{padding-top: 30px;
   font-family: "Arial Bold", Arial, sans-serif;
   font-weight: 700;
   font-size: 50px;
   color: rgb(184, 116, 26); padding-top: 141px;
   float:left;}
   .AvaibilityStuff {padding-top: 108px;
   padding-left: 974px;}
   .Avaibility {font-family: 'Lato Bold', 'Lato Regular', 'Lato', sans-serif;
   font-weight: 700;
   font-size: 27px;}
   .Stock {font-family: 'Lato Bold', 'Lato Regular', 'Lato', sans-serif;
   font-weight: 700;
   font-size: 43px;
   color: #A30014;
   padding-top:10px;}

   .AddToCartButton{position:absolute;
   left: 1013px;
   top: 533px;
   padding: 13px;
   padding-left:33px;
   padding-right:33px;
   border-radius: 13px;
   background-color: #F59A23;
   font-size: 25px;
   color: #AAAAAA;}

   .ProductDetailedInfoTitle{padding-top: 200px;
   padding-left: 33px;
   font-family: 'Arial Bold', 'Arial', sans-serif;
   font-weight: 700;
   font-size: 28px;}
   .ProductDetailedInfo{padding-left:293px;
       font-size: 18px; 
       font-weight: 500;}

   td {padding-right:80px;
   padding-bottom: 17px;}